@layer base {
  html {
    @apply scroll-smooth;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #000000;
}

.bgCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
