@layer base {
  html {
    @apply scroll-smooth;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #0a0a05;
  color: #fff;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

main {
  position: relative;
  z-index: 2;
  overflow: scroll;
  height: 100%;
}

nav {
  position: relative;
  z-index: 2;
}
